{% extends 'base.html.twig' %}

{% block title %}Clients index{% endblock %}

{% block body %}
    <h1>Clients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nip</th>
                <th>Regon</th>
                <th>Name</th>
                <th>Vat</th>
                <th>Street</th>
                <th>HouseNo</th>
                <th>FlatNo</th>
                <th>FirstContactDate</th>
                <th>Comments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nip }}</td>
                <td>{{ client.regon }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.vat ? 'Yes' : 'No' }}</td>
                <td>{{ client.street }}</td>
                <td>{{ client.houseNo }}</td>
                <td>{{ client.flatNo }}</td>
                <td>{{ client.firstContactDate ? client.firstContactDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.comments }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
