{% block body %}

<div class="example-wrapper">
    <h1>Lista pracowników</h1>

    <table class="tg">
    <thead>
      <tr>
        <th class="tg-5qug">Lp.</th>
        <th class="tg-5qug">Imię</th>
        <th class="tg-5qug">Nazwisko</th>
        <th class="tg-5qug">Stanowisko</th>
        <th class="tg-5qug">Data zatrudnienia</th>
        <th class="tg-5qug">Ilość dni urlopowych</th>
      </tr>
    </thead>
    <tbody>
      {% for v in employees %}
          <tr class= {{ loop.index is divisible by 2 ? "tg-m9r4" : "tg-w747" }}>
              <td>{{ loop.index }}</td>
              <td>{{ v.name }}</td>
              <td>{{ v.surname }}</td>
              <td>{{ v.position }}</td>
              <td>{{ v.startDate|format_datetime('long', 'none', locale='pl') }}</td>
              <td>{{ v.holiday }}</td>
          </tr>
      {% endfor %}
    </tbody>
    </table>

    <p>Wybierz kolory tabeli:</p>

    <div>
        <input type="color" id="odd-row" name="odd-row"
                value="#ffffc7">
        <label for="body">Wiersze nieparzyste</label>
    </div>

    <div>
        <input type="color" id="even-row" name="even-row"
               value="#dae8fc">
        <label for="head">Wiersze parzyste</label>
    </div>

</div>
{% endblock %}
